html, body{
    margin:0;
    padding:0
}

.register-form{
    width:360px;
    margin:0 auto
}

.register-form-header{
    color: #333;
    border:0;
    text-align: center;
}

.register-form-header h1{
    font-size: 2em;
}

.register-form label{
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
}

.catalog-item h5{
    text-align:center
}

.catalog-item h4{
    text-align: right;
}

.catalog-item a{
    display:block;
    text-align:center;
    text-decoration: none;
    color: #333;
}

.catalog-item a:hover{
    text-decoration:none;
    color:#333;
    opacity:0.7;
}

.catalog-item-info{
    height:130px;
}

.catalog-item-image{
    display:block;
    height:170px !important;
    width:auto !important;
    margin: auto !important;
}

.catalog-item-title{
    height:50px;
    overflow:hidden;
}

.product-detail-image{
    width:250px;
    height:auto;
    display:block;
    text-align:center;
}

.input-inline{
    display:inline;
    width:auto;
}

#profile-change-block{
    width:300px;
}

#profile-show-block button{
    width:250px;
    margin:5px auto;
}

.basket-item{
    width:250px;
}
.basket-order{
    width:360px;
}

.order-item{
    border:1px solid #aaa;
    border-radius: 5px;
    padding:2px;
}

.order-item-image img{
    height:190px;
}