{% extends 'e_store/layout/base.html'%}
{% block title %}
{{ current_product.title }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center">{{ current_product.title }}</h1>
    <div class="row">
        <div class="col-sm-4 product-detail-image mb-3">
            <img src="{{ current_product.image.url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-4 product-info pt-1 mb-3">
            <h3>Описание:</h3>
            <ul class="d-flex nav ml-3">
                {% for pd in product_description %}
                    <li class="nav-item">{{ pd }}</li>
                {% endfor %}
            </ul>
            <h4 class="ml-3 mt-2">Цена: {{ current_product.price }} грн</h4>
        </div>
        <div class="col-sm-4">
            <h2 style="text-align: center">Добавить в корзину:</h2>
            {% if not request.user.is_authenticated %}
                <p style="color:red; text-align:center">Авторизируйтесь чтобы заказать</p>
            {% else %}
                <div style="text-align:center">
                    <form method="POST">
                        <input type="number" class="form-control mb-2" name="amount" placeholder="Количество">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}